* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    /*font: 14px/1.5 "Hind";*/
    font: 14px/1.5 "OpenSans";
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #056cb5;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.top-bar {
    background: black;
    /*display: inline-block;*/
    /*position: fixed;*/
    height: 44px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
    padding-left: 100px;
}

.black-space {
    width: 30%;
    float: left;
}

.text-on-black-bar {

    float: left;
    text-align: center;
    font: 18px "OpenSansBold", sans-serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 5px;
    word-spacing: 0;
    padding-left: 100px;
    padding-top: 2px;
    width: 80%;

}

.x-button {
    float: right;
    padding-right: 30px;
    height: 31px;
    width: 31px;

}

.menu-transp {
    background: white; /*linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)),*/
    opacity: 0.35;
    position: absolute;
    z-index: 900;
    height: 74px;
    width: 100%;
    padding-right: 20px;
    padding-left: 100px;
    padding-top: 11px;
    vertical-align: middle;
}

.menu {
    /*background: darkgray; !*linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)),*!*/
    /*opacity: 0.35;*/
    position: absolute;
    z-index: 999;
    height: 74px;
    width: 100%;
    padding-right: 20px;
    padding-left: 100px;
    padding-top: 11px;
    vertical-align: middle;
}

.logo-img {
    float: left;

    border-right: solid 2px black;
    padding-left: 7px;
    padding-top: 1px;
    height: 54px;
    width: 355px;
    padding-right: 20px;
}

.logo-flag {
    float: left;
    height: 33px;
    width: 180px;
    padding-left: 18px;
    padding-top: 15px;
}

.logo-nav {
    float: left;
    padding-left: 100px;
    padding-top: 19px;
}

.logo-nav ul {
    padding: 0 0 0 140px;
}

.logo-nav ul li {
    list-style: none;
    display: inline;
    padding: 0 17px 16px;
    color: #ffffff;
    font: 25px "MyriadProRegular";
}

.logo-cart {
    float: right;
    height: 33px;
    width: 33px;
    margin-right: 200px;
    padding-right: 157px;
    padding-top: 17px;
}

.slider1_top {
    position: absolute;
    z-index: 998;
    height: 899px;
    width: 100%;
    /*background: url("../img/bg_top_l52.png") no-repeat center ;*/
    opacity: 0.7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: cover;
}

.slider1 {
    height: 899px;
    width: 100%;

    background: url("../img/bg_v2.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slider1-text {
    padding-top: 220px;
    padding-left: 13px;
}

.slider1 h2 {
    color: white;
    text-align: center;
    vertical-align: middle;
    font: 152px "Brushstrike";
    padding-top: 100px;
}

.slider1 h3 {
    color: white;
    font: 60px "BebasNeue_Regular";

    letter-spacing: 6px;
    padding-top: 0;
    padding-left: 500px;
    padding-bottom: 10px;
}

.tech-features {

    width: 100%;
    font-weight: bold;
    background: #ffffff;
    height: 140px;
    padding-top: 68px;
    padding-left: 70px;
}

.img-tech-features {
    float: left;
    padding-right: 64px;
    padding-top: 0;
}

.header-tech-features {
    text-align: center;
    /*width: 855px; !*623*!*/
    font: 47px "OpenSansBold", sans-serif;
    letter-spacing: 0;
    font-weight: 800;
    background: -webkit-linear-gradient(right, #0e1555, #056cb6);
    background: -o-linear-gradient(right, #0e1555, #056cb6);
    background: -moz-linear-gradient(right, #0e1555, #056cb6);
    background: linear-gradient(to right, #0e1555, #056cb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ico1 {
    float: left;
    padding-right: 10px;
    height: 64px;
    width: 64px;

}

.ico1-2 {
    float: left;
    padding-right: 8px;
    height: 64px;
    width: 64px;

}

.ico1-txt1 {
    float: left;
    width: 135px;
    font-size: 21px;
    padding-right: 44px;
    padding-top: 15px;
}

.ico1-txt2 {
    float: left;
    width: 135px;
    font-size: 21px;
    padding-right: 61px;
    padding-top: 0;
    padding-left: 5px;
}

.ico1-txt3 {
    float: left;
    font-size: 25px;
    padding-right: 18px;
    padding-top: 0;
    width: 200px;
}

.upper {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.perform-saft-hygi {
    width: 100%;

    background: #000000;
    color: white;
    height: 149px;
    padding-left: 100px;
    padding-top: 51px;
    padding-bottom: 15px;
}

.ico2-1 {
    float: left;
    padding-left: 100px;
    padding-right: 25px;
    padding-top: 22px;
}

.ico2-2 {
    float: left;
    padding-left: 115px;
    padding-right: 20px;
}

.ico2-3 {
    float: left;
    padding-left: 90px;
    padding-right: 20px;
}

.ico2-txt2 {
    float: left;
    letter-spacing: 4px;
    padding-left: 0;
    padding-right: 60px;
    padding-top: 30px;
    font: 45px "OpenSansExtraBold", sans-serif;
    font-weight: 700;

}

.video-box {
    background: #f6f6f6;
    width: 100%;
    height: 806px;
}

.title1 {
    text-align: left;
    padding-top: 45px;
    padding-left: 100px;
    width: 100%;
}

.header-game-changer {
    text-align: left;
    padding-left: 95px;
    width: 30%;
    /*width: 855px; !*623*!*/
    font: 60px "OpenSansBold", sans-serif;
    letter-spacing: 0;
    font-weight: 800;
    background: -webkit-linear-gradient(right, #0e1555, #056cb6);
    background: -o-linear-gradient(right, #0e1555, #056cb6);
    background: -moz-linear-gradient(right, #0e1555, #056cb6);
    background: linear-gradient(to right, #0e1555, #056cb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.part2-container {
    display: inline-block;
    width: 100%;
    height: 540px;
    padding-left: 100px;
}

.info {
    padding-left: 100px;
    width: 28%;
    float: left;
}

.info h2 {
    font: 19px "OpenSansBold", sans-serif;
    padding-bottom: 40px;
    padding-top: 7px;
    padding-left: 0;
    letter-spacing: 3px;
    font-weight: 800;
}

.info-info {
    font: 18px "OpenSans", sans-serif;
    padding-bottom: 34px;
}

.info-info p {
    padding-bottom: 8px;
    letter-spacing: -1px;
}

.price {
    color: #056cb6;
    border-left: solid 5px #e1e1e1;
    font: 34px "OpenSans", sans-serif;
    padding-bottom: 15px;
    padding-top: 14px;
    padding-left: 20px;
    letter-spacing: 1px;
}

.shop-now {
    padding-top: 40px;
}

.button {

    background: transparent;
    font-size: 28px;
    padding: 37px 89px;
    color: black;
    border: 1px solid #056cb6;
    border-radius: 58px;
}

.video-player {
    width: 60%;
    float: left;
    height: 540px;
}

.video-footer {
    padding-left: 95px;
    padding-bottom: 0;
    padding-top: 10px;
    margin-left: 135px;
}

.slider2 {
    background: linear-gradient(rgba(5, 106, 178, 0.70), rgba(5, 106, 178, 0.70)), url("../img/slider2_bg_bottom.jpg") no-repeat center center;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 150px;
}

.sign {
    padding-bottom: 20px
}

.title2 {
    color: #ffffff;
    font: 36px/1.5 "MyriadProSemiBold";
    font-weight: 700;
    letter-spacing: 5px;
    padding-bottom: 5px;
}

.img-line1 {
    display: inline-block;

    padding-left: 10px;
    padding-bottom: 4px;
    padding-top: 3px;
}

.img-line1 div {
    float: left;
    padding-right: 16px;
}

.img-line2 {
    display: inline-block;
    padding-top: 5px;
    padding-left: 10px;
}

.img-line2 div {
    float: left;
    padding-right: 16px;
}

/*sqares with pictures*/
.slider3 {
    padding-top: 125px;
    width: 100%;
    height: 778px;
    padding-left: 15px;
}

.sq1 {
    float: left;
    text-align: center;
    vertical-align: text-bottom;
    margin-right: 40px;
}

.sq1-top {
    height: 76px;
    vertical-align: top;
    background: #e2e2e1 url("../img/sq1-top.jpg") no-repeat top right;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
}

.sq1-back {
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.90)), url("../img/sq1.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 604px;
    height: 491px;
}

.sq-title {
    color: white;
    font: 58px "ChunkFive";
    padding-top: 415px;

}

.sq2 {
    float: left;
    text-align: center;
    vertical-align: text-bottom;
    margin-right: 36px;
}

.sq2-top {
    height: 76px;
    vertical-align: top;
    background: #e2e2e1 url("../img/sq2-top.jpg") no-repeat top right;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
}

.sq2-back {

    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.90)), url("../img/sq2.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 604px;
    height: 491px;
}

.sq3 {
    float: left;
    text-align: center;
    vertical-align: text-bottom;

}

.sq3-top {
    height: 76px;
    vertical-align: top;
    background: #e2e2e1 url("../img/sq3-top.jpg") no-repeat top right;
    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
}

.sq3-back {
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.90)), url("../img/sq3.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 604px;
    height: 491px;

}

.buy-now {
    background: #056ab2;
    color: white;
    width: 100%;
    text-align: center;
    font: 28px "Myriad Pro";
    height: 44px;
    padding-top: 14px;
    padding-left: 0;
    word-spacing: -12px;
    letter-spacing: 6px;
}

/*jumping girl*/

.block4-girl {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("../img/slider-girl.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 900px
}

/*block used by ....*/
.used-by {
    background: #ffffff;
    height: 638px;
    padding-top: 130px;
    padding-bottom: 0;
}

.featured {
    /*background: #ffffff;*/
    /*height: 621px;*/
    /*padding-top: 130px;*/
    /*padding-bottom: 0;*/
    background: #ffffff;
    height: 588px;
    padding-top: 84px;
    padding-bottom: 0;
}

.title {
    padding-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title4 {
    padding-bottom: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banners-container4 {
    padding-left: 100px;
    padding-bottom: 63px;
}

.gradient1 {
    text-align: center;
    width: 875px; /*623*/
    letter-spacing: 2px;
    word-spacing: -8px;
    font: 58px "OpenSansBold", sans-serif;

    font-weight: 800;
    background: -webkit-linear-gradient(right, #0e1555, #056cb6);
    background: -o-linear-gradient(right, #0e1555, #056cb6);
    background: -moz-linear-gradient(right, #0e1555, #056cb6);
    background: linear-gradient(to right, #0e1555, #056cb6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banners-container {
    padding-left: 100px;

    padding-bottom: 120px;
}

.line-banners {
    padding-top: 20px;
    padding-left: 100px;
    margin-left: 100px;
}

.banner1 {
    padding: 20px 30px 3px 90px;
}

.banner2 {
    padding-right: 43px;
    padding-top: 0;
    padding-bottom: 46px;
}

.banner3 {
    padding-right: 18px;
    padding-top: 0;
    padding-bottom: 24px;
}

.banner4 {
    padding-right: 17px;
    padding-top: 0;
    padding-bottom: 16px;
}

.banner5 {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 28px;
}

.points {
    text-align: center;
    margin-left: 5px;
}

.point {
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

.foot-cont {
    color: #ffffff;
    background: #096cb6;
    height: 390px;
    font-size: 30px;
    padding-left: 274px;
}

.copyright {
    display: inline-block;
    width: 100%;
    font: 13pt "OpenSans";
    padding-right: 100px;
}

.copyright ul li {
    list-style: none;
    display: inline;
    padding: 0 17px 16px;
    color: #ffffff;
    float: right;

}